.book-container {
    display: flex;
    flex-direction: row;
    gap: 10rem;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #f9f9f9;
    border: 1px solid #88C999;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.book-cover {
    width: 45%;
    height: auto;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.book-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.book-title {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    color: #4A4E74;
}

.book-author {
    font-size: 1.2rem;
    font-style: italic;
    color: #606060;
}

.book-genre {
    font-size: 1.1rem;
    font-weight: bold;
    color: #9C89CC;
}

.book-description {
    font-size: 1rem;
    color: #444;
    line-height: 1.5;
}

.button-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.button-container>button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: #fff;
    background-color: #4A4E74;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 5rem;
    transition: background-color 0.3s ease;
}

.button-container>button:hover {
    background-color: #88C999;
}

.button-container>div {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: #fff;
    background-color: #4A4E74;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 5rem;
    transition: background-color 0.3s ease;
}

.button-container>div:hover {
    background-color: #88C999;
}

.genre-books-page {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    gap: 50px;
}

.genre-books-page>h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    text-align: center;
    color: #4A4E74;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.book-card {
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.book-card:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.book-card>h2 {
    margin: 0 0 0.5rem;
    font-size: 1.5rem;
    color: #4A4E74;
}

.book-card>p {
    margin: 0.25rem 0;
    color: #606060;
}

.create-book-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #fdfdfd;
    border: 2px solid #88C999;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 0 auto;
}

.create-book-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.create-book-form label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #4A4E74;
}

.create-book-form input,
.create-book-form textarea,
.create-book-form select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

.create-book-form input:focus,
.create-book-form textarea:focus,
.create-book-form select:focus {
    border-color: #88C999;
    outline: none;
    box-shadow: 0 0 5px rgba(136, 201, 153, 0.5);
}

.create-book-form textarea {
    resize: vertical;
    height: 100px;
}

.create-book-form button {
    padding: 10px 15px;
    background-color: #88C999;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.create-book-form button:hover {
    background-color: #4A4E74;
}

.like-button,
.dislike-button {
    display: flex;
    width: 5rem;
    padding: 15px;
    background-color: #4A4E74;
    justify-content: center;
    border-radius: 1rem;
    transition: background-color 0.3s ease;
    color: white;
}

.like-button:hover,
.dislike-button:hover {
    cursor: pointer;
    background-color: #88C999;
}

.create-book-container {
    align-self: center;
}

.create-book-button:hover {
    background-color: #88C999;
}

.edit-book-container {
    max-width: 600px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #fdfdfd;
    border: 2px solid #88C999;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-family: 'Arial', sans-serif;
    color: #4A4E74;
}

.edit-book-container h1 {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    color: #4A4E74;
}

.edit-book-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.edit-book-form label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #4A4E74;
}

.edit-book-form input,
.edit-book-form textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
}

.edit-book-form input:focus,
.edit-book-form textarea:focus {
    border-color: #88C999;
    box-shadow: 0 0 5px rgba(136, 201, 153, 0.5);
}

.edit-book-form textarea {
    resize: vertical;
    min-height: 100px;
}

.submit-button {
    padding: 10px 15px;
    font-size: 1rem;
    color: #fff;
    background-color: #88C999;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #4A4E74;
}