.profile-dropdown {
  position: absolute;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 5px solid purple;
  border-top: 5px solid purple;
  margin-bottom: 15px;
}

.navbar {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

#logo {
  text-decoration: none;
  font-size: xx-large;
  font-weight: 900;
  color: green;
  margin-left: 50px;
}

#logo:hover {
  cursor: pointer;
  color: red;
}

#profile-button>.button>* {
  width: 50px;
  height: 50px;
}

#profile-button {
  margin-right: 50px;

  :hover {
    cursor: pointer;
  }
}

.genres {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;

  .genre {
    font-size: small;
    font-weight: bolder;
    width: fit-content;
    padding: 10px;
    background-color: white;
    border: 0px;
  }

}

.genre:hover {
  transform: translateY(-5px);
  cursor: pointer;
  transition: transform ease 0.5s;
  color: red;
}

#back-button {
  background-color: purple;
  width: fit-content;
  padding: 10px;
  color: white;
  border-radius: 15px;
  margin-bottom: 25px;
  margin-top: 0px;
}

#back-button:hover {
  cursor: pointer;
  background-color: red;
  transform: translateY(5px);
  transition: transform ease 0.5s
}


#search-bar {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 10px;
}

.search-bar {
  width: 500px;
  height: 25px;
  border: 5px solid green
}